@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --main-color:#5e5efb;
    --shadow-color: rgba(71, 71, 71, 0.7);
    --text-color:#fdfdfd;
    --bg-color:#141414;
}

html::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}
html::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: #333;
}
body{
    overflow-x: hidden;
    background-color: var(--bg-color);
    position: relative;
}
html{
    overflow-x: hidden;
}
.dark-mode{
    --bg-color:#fdfdfd;
    --text-color:#333;
}

/* For bg */
.nav-bg{
    background-color: black;
    padding: 20px 20px 60px 20px;
    background-image: url('./pxfuel\ \(3\).jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
}

/* for navbar */
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
}
.name-first{
    font-size: 30px;
    color: var(--main-color);
}
.name-second{
    font-size: 25px;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding:1px 5px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
#dark-moon,
#sun{
    font-size: 25px;
    color: var(--main-color);
}
#sun{
    display: none;
}

/* for search bar */
.input-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin-top: 10vh;
}
#search{
    padding: 10px;
    width: 40%;
    border-radius: 25px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    outline: none;
    font-size: 15px;
}
.submit{
    padding: 5px 10px;
    border-radius: 4px;
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
    color: var(--text-color);
    transition: all ease .3s;
    font-size: 15px;
    font-weight: 700;
    
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.submit:hover{
    cursor: pointer;
    background-color: transparent;
    color: var(--main-color);
}

/* for search result */
.search-results-holder{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    justify-content: center;
    margin-top: 10vh;

}
.first-holder{
    height:300px;
    width: 25%;
    overflow: hidden;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.first-result{
    height: 250px;
    object-fit: cover;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    transition: all ease .3s;
}
.first-result:hover{
    opacity: 0.8;
    cursor: pointer;
}
.text-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 10px;
    font-weight: 600;
}

/* For show more */
.show-more{
    padding: 10px;
    border-radius: 4px;
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
    color: var(--text-color);
    width: max-content;
    font-size: 15px;
    transition: all ease .3s;
    display: none;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.btn{
    width: 100%;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    position: relative;
}
.show-more:hover{
    background-color: transparent;
    cursor: pointer;
    color: var(--main-color);
}

.up-arrow{
    text-decoration: none;
    font-size: 50px;
    color: var(--text-color);
    position: fixed;
    right: 3%;
    bottom: 2%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

footer{
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    margin-top: 10vh;
    gap: 1vh;
}
.fooh4{
    font-weight: 400;
    color: white;
    width: max-content;
}
.priority{
    font-weight: 800;
    color: white;
    width: max-content;
}

@media screen and (max-width:768px) {
    .first-holder{
        width: 35%;
    }
    .show-more{
        width: 20%;
    }
}
@media screen and (max-width:488px) {
    .first-holder{
        width: 80%;
    }
    .search-results-holder{
        gap: 10vh;
    }
    #search{
        width: 60%;
    }
    .submit{
        width: 20%;
    }
    .show-more{
        width: 40%;
        font-size: 15px;
    }
}